
{% set includes %}

{% endset %}

{% set definitions %}
  {% for event in code|xpaths('//*[@eventId]') %}
    void eventFunction_{{event|attribute('eventId')}} ();
  {% endfor %}

    void eventFunction_{{code|xpaths('//*[@eventId]')|length + 1}} (){};


{% endset %}
