
{% set includes %}
{% if code.xpath('//shell:script', namespaces={'shell':'shell'})|length > 0 -%}
#include <cstdio>
#include <iostream>
#include <memory>
#include <stdexcept>
#include <string>
#include <array>
{% endif %}
{% endset %}

{% set definitions %}
{% if code.xpath('//shell:script', namespaces={'shell':'shell'})|length > 0 -%}
std::string execute_shell(const char* cmd);
{% endif %}
{% endset %}
