node(
  name:'{{nodename}}',

  definitions: block(

    {% for parameter in parameters %}
    {{parameter.name}} in {{parameter.type}} = {{parameter.value}},
    {% endfor %}

    {% for topic in topics %}
    {{topic.variable}} in Signals(rosType:'{{topic.type}}', rosTopic:'{{topic.name}}'),
    {% endfor %}

    RoLXML<{ {{nodes_xml}} }>

  )
)
